div.posts {
  width: 100%;
  min-height: 30px;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
  max-width: 1440px;
}
div.posts .grid-item {
  width: 450px;
  background-color: white;
  margin: 15px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
}
div.posts .grid-item.expanded {
  width: 930px;
  box-shadow: 0px 0px 115px -19px rgba(0, 0, 0, 0.23);
  border: none;
}
div.posts .grid-item.expanded .expand-button {
  display: none;
}
div.posts .grid-item.post {
  border-top: 1px solid #ededed;
}
div.posts .grid-item .expand-button {
  position: absolute;
  width: 15px;
  font-size: 14px;
  left: 50%;
  text-align: center;
  margin-left: -7.5px;
  bottom: 16px;
  cursor: pointer;
}
div.posts .grid-item .expand-button i {
  display: inline-block;
  position: relative;
  transition-duration: 0.1s;
  bottom: 0;
  color: #ababab;
}
div.posts .grid-item .expand-button:hover > i {
  font-size: 16px;
  color: #757575;
}
div.posts .grid-item .content {
  cursor: pointer;
  font-size: 14px;
  max-height: 500px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  word-wrap: break-word;
  background-color: white;
}
div.posts .grid-item .content.expanded {
  max-height: 6000px;
}
div.posts .grid-item .content img {
  max-width: 100%;
  max-height: 600px;
}
div.posts .grid-item .content p {
  text-align: left;
}
div.posts .grid-item .content pre {
  background-color: #263238;
  padding: 15px 18px;
  border-radius: 4px;
}
div.posts .grid-item .content code {
  color: #c2e4e4;
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
}
div.posts .grid-item .by {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 15px;
  font-weight: bold;
}
div.posts .grid-item .date {
  display: inline-block;
  float: right;
  font-size: 15px;
  margin: 0 15px;
  color: #ababab;
}
div.posts .grid-item .status {
  color: #ababab;
}
div.posts .grid-item .status * {
  margin: 0 10px;
}
div.posts .grid-item .status .likes {
  color: #ababab;
}
div.posts .grid-item .status .likes * {
  color: #ababab;
}
div.posts .grid-item .status .likes.liked {
  color: #e25871;
}
div.posts .grid-item .status .likes.liked * {
  color: #e25871;
}
div.posts .grid-item .status .comments {
  color: #ababab;
}
div.posts .grid-item .status .comments * {
  color: #ababab;
}
div.posts .grid-item.newpost {
  font-size: 40px;
  background-color: #75c88b;
  color: white;
  padding: 30px;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0 0 0 0 #75c88b;
  border: 1px solid #51b96c;
}
div.posts .grid-item.newpost * {
  color: white;
}
div.posts .grid-item.newpost:hover {
  border: 1px solid #6ac482;
  box-shadow: 0 0 0 5px #6ac482;
  background-color: #6ac482;
}
div.posts .grid-item.discover {
  font-size: 40px;
  background-color: #e26b5a;
  color: white;
  padding: 30px;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0 0 0 0 #e26b5a;
  border: 1px solid #da442f;
}
div.posts .grid-item.discover * {
  color: white;
}
div.posts .grid-item.discover:hover {
  border: 1px solid #e05f4d;
  box-shadow: 0 0 0 5px #e05f4d;
  background-color: #e05f4d;
}
div.posts .grid-item.greeting {
  font-size: 50px;
  background-color: #1d1d1d;
  color: white;
  height: 280px;
  width: 930px;
  padding: 30px;
  user-select: none;
  cursor: default;
}
div.posts .grid-item.greeting * {
  color: white;
}
div.posts .grid-item.greeting span.username {
  font-weight: bold;
}
div.posts .grid-item.greeting span.details {
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: -80px;
  display: inline-block;
}
div.posts .grid-item.greeting span.details span.sect {
  display: inline-block;
  width: 120px;
  cursor: pointer;
}
