div.posts {
  width: 100%;
  min-height: 30px;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
  max-width: 1440px;
}
div.posts .grid-item {
  width: 450px;
  margin: 15px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 1px solid #ededed;
  border-radius: 5px;
}
div.posts .grid-item .expand-button {
  position: absolute;
  width: 15px;
  font-size: 14px;
  left: 50%;
  text-align: center;
  margin-left: -7.5px;
  cursor: pointer;
}
div.posts .grid-item .expand-button i {
  display: inline-block;
  position: relative;
  transition-duration: 0.1s;
  bottom: 0;
  color: #ababab;
}
div.posts .grid-item .expand-button:hover > i {
  bottom: -5px;
  color: #757575;
}
div.posts .grid-item .content {
  transition-duration: 1s;
  cursor: pointer;
  font-size: 14px;
  text-align: justify;
  max-height: 500px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  word-wrap: break-word;
}
div.posts .grid-item .content img {
  max-width: 100%;
  max-height: 400px;
}
div.posts .grid-item .by {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 15px;
  font-weight: bold;
}
div.posts .grid-item .date {
  display: inline-block;
  float: right;
  font-size: 15px;
  margin: 0 15px;
  color: #ababab;
}
div.posts .grid-item .status {
  color: #ababab;
}
div.posts .grid-item .status * {
  margin: 0 10px;
}
div.posts .grid-item .status .likes {
  color: #ababab;
}
div.posts .grid-item .status .likes * {
  color: #ababab;
}
div.posts .grid-item .status .likes.liked {
  color: #e25871;
}
div.posts .grid-item .status .likes.liked * {
  color: #e25871;
}
div.posts .grid-item .status .comments {
  color: #ababab;
}
div.posts .grid-item .status .comments * {
  color: #ababab;
}
div.posts .grid-item.greeting {
  font-size: 50px;
  background-color: #e6961d;
  color: white;
  height: 300px;
  padding: 30px;
  user-select: none;
  cursor: default;
}
div.posts .grid-item.greeting * {
  color: white;
}
div.posts .grid-item.greeting span.username {
  font-weight: bold;
}
div.posts .grid-item.greeting span.details {
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: -70px;
  display: inline-block;
  width: 400px;
}
div.posts .grid-item.greeting span.details span.sect {
  display: inline-block;
  margin: 0 20px;
  width: 80px;
  cursor: pointer;
}
