html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
}
i.fa {
  margin-right: 5px;
}
* {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #de8600;
  outline: 0;
}
a:hover {
  color: #ca7a00;
}
div.obscurer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  z-index: 1;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  pointer-events: none;
}
div.obscurer.gone {
  opacity: 0;
}
div.header-section {
  position: fixed;
  top: 0;
  background-color: #1d1d1d;
  width: 100%;
  height: 70px;
  padding: 0 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 70px;
  z-index: 1;
}
div.header-section * {
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.header-section .header-logo {
  text-align: center;
  font-family: 'Arvo';
  font-size: 40px;
  cursor: pointer;
  float: left;
  letter-spacing: normal;
  -webkit-transition: letter-spacing 0.3s;
  transition: letter-spacing 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
div.header-section .header-logo:hover {
  letter-spacing: 6px;
}
div.header-section .bookmark-icon {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}
div.header-section .bookmark-icon i {
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}
div.header-section .bookmark-icon:hover > i {
  color: #fe4b4b;
}
div.header-section .username-disp,
div.header-section .login {
  font-size: 18px;
  float: right;
  cursor: pointer;
  width: 250px;
  text-align: center;
}
div.header-section .arrow-down {
  top: -2px;
  position: relative;
  margin-left: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.11, 1.21, 0.56, 1.46);
          transition-timing-function: cubic-bezier(0.11, 1.21, 0.56, 1.46);
}
div.header-section .arrow-down.default {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
div.dropdown-notauth,
div.dropdown-auth {
  background-color: #1d1d1d;
  position: fixed;
  width: 250px;
  top: 50px;
  right: 150px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.96, 0.62, 0.48, 0.91);
          transition-timing-function: cubic-bezier(0.96, 0.62, 0.48, 0.91);
  height: 0;
  text-align: center;
  font-size: 17px;
  padding-bottom: 20px;
}
div.dropdown-notauth a,
div.dropdown-auth a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  top: -400px;
  -webkit-transition-timing-function: cubic-bezier(0.96, 0.62, 0.48, 0.91);
          transition-timing-function: cubic-bezier(0.96, 0.62, 0.48, 0.91);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  color: #e4e4e4;
  height: 70px;
  line-height: 70px;
}
div.dropdown-notauth a:hover,
div.dropdown-auth a:hover {
  color: white;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
div.dropdown-notauth a:hover > i.fa-cog,
div.dropdown-auth a:hover > i.fa-cog {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
div.dropdown-notauth.visible,
div.dropdown-auth.visible {
  top: 70px;
  height: 210px;
  line-height: 70px;
}
div.dropdown-notauth.visible > a,
div.dropdown-auth.visible > a {
  top: 0px;
  opacity: 1;
}
.button-big {
  border: none;
  width: 300px;
  height: 60px;
  margin: 20px auto;
  background-color: white;
  border: 2px solid #1d1d1d;
  color: #1d1d1d;
  font-size: 20px;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.2s;
  transition: color 0.3s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, color 0.3s;
  transition: box-shadow 0.2s, color 0.3s, -webkit-box-shadow 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  border-radius: 4.5px;
}
.button-big.close-middle {
  -webkit-box-shadow: inset 0 0 0 0 #1d1d1d, inset 0 0 0 0 #1d1d1d;
          box-shadow: inset 0 0 0 0 #1d1d1d, inset 0 0 0 0 #1d1d1d;
}
.button-big.close-right,
.button-big.close-left {
  -webkit-box-shadow: inset 0 0 0 0 #1d1d1d;
          box-shadow: inset 0 0 0 0 #1d1d1d;
}
.button-big.close-center {
  -webkit-box-shadow: inset 0 0 0 0 #1d1d1d;
          box-shadow: inset 0 0 0 0 #1d1d1d;
}
.button-big:hover {
  color: white;
  cursor: pointer;
}
.button-big.close-middle:hover {
  -webkit-box-shadow: inset 150px 0 0 0 #1d1d1d, inset -150px 0 0 0 #1d1d1d;
          box-shadow: inset 150px 0 0 0 #1d1d1d, inset -150px 0 0 0 #1d1d1d;
}
.button-big.close-right:hover {
  -webkit-box-shadow: inset 300px 0 0 0 #1d1d1d;
          box-shadow: inset 300px 0 0 0 #1d1d1d;
}
.button-big.close-left:hover {
  -webkit-box-shadow: inset -300px 0 0 0 #1d1d1d;
          box-shadow: inset -300px 0 0 0 #1d1d1d;
}
.button-big.close-center:hover {
  -webkit-box-shadow: inset 0 0 0 30px #1d1d1d;
          box-shadow: inset 0 0 0 30px #1d1d1d;
}
