* {
  color: white;
}
html,
body {
  background-color: #1d1d1d;
}
div.middle {
  position: fixed;
  width: 800px;
  height: 650px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -325px;
  text-align: center;
  padding: 30px 0;
  border-radius: 5px;
}
div.middle span.links {
  margin-bottom: 40px;
  display: inline-block;
  color: #adadad;
}
div.middle span.links span.plead {
  font-size: 20px;
  color: #c3c3c3;
}
div.middle span.links a {
  margin: auto 20px;
  color: #a2a2a2;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid #1d1d1d;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  padding-bottom: 5px;
}
div.middle span.links a i {
  color: #a2a2a2;
}
div.middle span.links a:hover i {
  color: #de8600;
}
span.title {
  font-family: 'Arvo';
  display: block;
  font-size: 120px;
}
span.legal {
  display: inline-block;
  position: fixed;
  bottom: -45px;
  text-align: center;
  width: 100%;
  background-color: #1d1d1d;
  color: #e0e0e0;
  font-size: 10px;
  height: 80px;
  line-height: 20px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: default;
}
span.legal b {
  color: inherit;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
span.legal:hover {
  bottom: 0;
}
span.legal:hover > .hover-say {
  color: #5c5c5c;
}
