html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
}
* {
  color: #1d1d1d;
}
div.middle {
  position: fixed;
  width: 800px;
  height: 650px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -325px;
  text-align: center;
  padding: 30px 0;
  border-radius: 5px;
}
div.middle span.links {
  margin-bottom: 40px;
  display: inline-block;
}
div.middle span.links a {
  margin: auto 20px;
  color: #1d1d1d;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid white;
  transition-duration: 0.2s;
}
div.middle span.links a:hover {
  border-bottom: 2px solid #de8600;
}
span.title {
  font-family: 'Arvo';
  display: block;
  font-size: 120px;
}
