html,
body {
  background-color: #1d1d1d;
}
div.preview {
  position: fixed;
  width: 580px;
  height: 490px;
  left: 50%;
  top: 50%;
  margin-left: -290px;
  margin-top: -310px;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 19px;
}
div.preview h1,
div.preview h2,
div.preview h3,
div.preview h4,
div.preview h5,
div.preview h6 {
  font-size: auto;
}
div.preview ::-webkit-scrollbar {
  display: none;
}
div.preview img {
  max-width: 100%;
  max-height: 600px;
}
div.preview pre {
  overflow: hidden;
  background-color: #263238;
  padding-right: 0;
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  padding: 15px 20px;
}
div.preview code {
  color: #ABB2BF;
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
}
div.preview code * {
  font-family: 'Inconsolata', monospace;
}
div.preview.hidden {
  display: none;
}
form.write {
  background-color: white;
  position: fixed;
  width: 660px;
  height: 750px;
  left: 50%;
  top: 50%;
  margin-left: -330px;
  margin-top: -350px;
  border-radius: 4px;
  overflow: hidden;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
form.write textarea {
  resize: none;
  width: 100%;
  height: 490px;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}
form.write input[type="text"][name="tags"] {
  border: none;
  outline: none;
  height: 25px;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
form.write input[type="text"][name="tags"]:focus {
  font-size: 20px;
}
form.write button.switchview {
  float: right;
}
form.write button.submit {
  -webkit-transition-duration: 0.02s;
          transition-duration: 0.02s;
}
form.write button.submit:hover i {
  -webkit-transform: scale(1.3) translateX(-10px) translateY(8px) rotate(-6deg);
          transform: scale(1.3) translateX(-10px) translateY(8px) rotate(-6deg);
}
form.write button.submit:active i {
  opacity: 0;
  -webkit-transform: scale(0.7) translateX(30px) translateY(-15px) rotate(18deg);
          transform: scale(0.7) translateX(30px) translateY(-15px) rotate(18deg);
}
form.write button.switchview,
form.write button.submit {
  bottom: 55px;
  right: 70px;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-size: 22px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}
form.write button.switchview i,
form.write button.submit i {
  font-size: 25px;
  margin: 0 15px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: #585858;
}
form.write button.switchview:hover,
form.write button.submit:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
form.write button.switchview:hover i,
form.write button.submit:hover i {
  color: #3b3b3b;
}
form.write button.switchview:active,
form.write button.submit:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
