html,
body {
  background-color: #1d1d1d;
}
div.preview {
  position: fixed;
  width: 580px;
  height: 530px;
  left: 50%;
  top: 50%;
  margin-left: -290px;
  margin-top: -310px;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 19px;
}
div.preview h1,
div.preview h2,
div.preview h3,
div.preview h4,
div.preview h5,
div.preview h6 {
  font-size: auto;
}
div.preview ::-webkit-scrollbar {
  display: none;
}
div.preview img {
  max-width: 100%;
  max-height: 600px;
}
div.preview pre {
  overflow: hidden;
  background-color: #263238;
  padding-right: 0;
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  padding: 15px 20px;
}
div.preview code {
  color: #caecf5;
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
}
div.preview code * {
  font-family: 'Inconsolata', monospace;
}
div.preview.hidden {
  display: none;
}
form.write {
  background-color: white;
  position: fixed;
  width: 660px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-left: -330px;
  margin-top: -350px;
  border-radius: 4px;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
}
form.write textarea {
  resize: none;
  width: 100%;
  height: 530px;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 15px 20px;
  box-sizing: border-box;
}
form.write button.switchview {
  float: right;
}
form.write button.switchview,
form.write button.submit {
  bottom: 55px;
  right: 70px;
  width: 40%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-size: 22px;
  transition-duration: 0.3s;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}
form.write button.switchview i,
form.write button.submit i {
  font-size: 25px;
  margin: 0 15px;
  transition-duration: 0.4s;
  color: #585858;
}
form.write button.switchview:hover,
form.write button.submit:hover {
  transform: scale(1.2);
}
form.write button.switchview:hover i,
form.write button.submit:hover i {
  color: #000;
}
form.write button.switchview:active,
form.write button.submit:active {
  transform: scale(0.9);
}
