// This file isn't compiled - instead, it provied colours for other .less files.

@main-bg: #1d1d1d;

@accent: #de8600;

@greet-colour: #e6961d;
@newpost-colour: #73a580;
@discover-colour: #e26b5a;

@bordermain: #d0d0d0;
@borderlight: #e9e9e9;

@danger-colour: #e25d4a;
@success-colour: #87cf61;

@like-colour: #e25871;

@greyed: #ababab;
