// out: ../../../public/css/home.css

@import "colours";

div.posts {
  width: 100%;
  min-height: 30px;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
  max-width: 1440px;
  // 450 * 3  +  15 * 6

  .grid-item {
    width: 450px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;

    &:not(.post) {
      border-radius: 2px;
    }

    &.post {
      border: 1px solid @bordermain;
    }

    .content {
      cursor: pointer;
      font-size: 15px;
      line-height: 19px;
      text-align: justify;
      max-height: 500px;
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;

      img {
        max-width: 100%;
        max-height: 400px;
      }
    }

    .by {
      cursor: pointer;
      display: inline-block;
      float: right;
      font-size: 15px;
      font-weight: bold;
    }

    .date {
      display: inline-block;
      float: right;
      font-size: 15px;
      margin: 0 15px;
      color: #9a9a9a;
    }

    &.greeting {
      font-size: 50px;
      background-color: @greet-colour;
      color: white;
      height: 300px;
      padding: 30px;

      * { color: white; }

      span.username {
        font-weight: bold;
      }
    }
  }
}
