// out: ../../../public/css/home.css

@import "colours";

@double-width: (450px * 2 + 30px);

html, body {
  background-color: @main-bg;
}

div.posts {
  width: 100%;
  min-height: 30px;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
  max-width: 100%;

  .grid-item {
    width: 450px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;

    &.expanded {
      width: (450px * 2 + 30px); // +30 to compensate for gutter which it goes over
      box-shadow: 0px 0px 115px -19px rgba(0,0,0,0.16);
      border: 1px solid @bordermain !important;

      .expand-button {
        display: none;
      }
      &.post {
        border-radius: 6px;
      }
    }

    &.post { // Specific to grid-items which are posts
      //border-top: 1px solid @bordermain;
      border-radius: 3px;
    }

    .expand-button {
      position: absolute;
      width: 15px;
      font-size: 14px;
      left: 50%;
      text-align: center;
      margin-left: -7.5px;
      bottom: 16px;
      cursor: pointer;

      i {
        display: inline-block;
        position: relative;
        transition-duration: 0.2s;
        bottom: 0;
        color: @greyed;
      }

      &:hover >i {
        transform: scale(1.7) rotate(225deg);
        color: #757575;
      }

      &:active >i {
        transform: scale(0) rotate(405deg);
        transition-duration: 0.15s;
      }
    }

    .content {
      &.expanded {
        max-height: 6000px;
      }

      font-size: 14px;
      max-height: 500px;
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
      word-wrap: break-word;
      background-color: white;

      img {
        max-width: 100%;
        max-height: 600px;
      }

      p {
        text-align: left;
      }

      pre {
        //white-space: pre-wrap;
        overflow: hidden;
        background-color: #263238;
        //padding: 15px 18px;
        padding-right: 0;
        border-radius: 4px;
        font-family: 'Inconsolata', monospace;
      }

      code {
        padding: 15px;
        color: #c2e4e4;
        font-size: 15px;
        font-family: 'Inconsolata', monospace;
        * {
          font-family: 'Inconsolata', monospace;
        }
      }
    }

    .by {
      cursor: pointer;
      display: inline-block;
      float: right;
      font-size: 15px;
      font-weight: bold;
    }

    .date {
      display: inline-block;
      float: right;
      font-size: 15px;
      margin: 0 15px;
      color: @greyed;
    }

    .status {
      color: @greyed;

      * {
        margin: 0 10px;
      }

      .likes {
        @keyframes heartbeat {
          0% {transform: scale(1);}
          6% {transform: scale(1.25);}
          18% {transform: scale(1);}
          20% {transform: scale(0.9)}
          33% {transform: scale(1.5);}
          47% {transform: scale(1);}
          100% {transform: scale(1);}
        }

        color: @greyed;
        * {
          color: @greyed;
        }
        cursor: pointer;

        &:hover>i, &.liked>i {
          animation-name: heartbeat;
          animation-duration: 1s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }

        &.liked, &:hover {
          * {color: @like-colour;}
          color: @like-colour;
          font-weight: bold;
        }
      }
      .comments {
        @keyframes comments {
          0% {
            transform: scale(0) translateX(-15px) translateY(15px);
            opacity: 0;
            color: @comment-sec-colour;
          }
          12.5% {transform: scale(0.7) translateX(-1);}
          25% {
            transform: scale(1.5) translateX(0) translateY(0);
            opacity: 1;
          }
          37.5% {transform: scale(0.7) translateX(-1);}
          49% {
            transform: scale(0) translateX(15px) translateY(-15px);
            opacity: 0;
            color: @comment-sec-colour;
          }
          50% {
            transform: scale(0) scaleX(-1) translateX(-15px) translateY(15px);
            opacity: 0;
            color: @comment-colour;
          }
          62.5% {transform: scale(0.7) scaleX(-1) translateX(-1);}
          75% {
            transform: scale(1.5) scaleX(-1) translateX(0) translateY(0);
            opacity: 1;
          }
          88% {transform: scale(0.7) scaleX(-1) translateX(11);}
          100% {
            transform: scale(0) scaleX(-1) translateX(15px) translateY(-15px);
            opacity: 0;
            color: @comment-colour;
          }
        }
        * {color: @greyed;}
        color: @greyed;
        cursor: pointer;
        &:hover, &.liked {
          color: @comment-colour;
          font-weight: bold;
        }
        &:hover>i, &.liked>i {
          color: @comment-colour;
          animation-name: comments;
          animation-duration: 1.3s;
          animation-iteration-count: infinite;
        }
      }
    }

    .gridlink(@colour) {
      height: 210px;
      font-size: 30px;
      background-color: @colour;
      color: lighten(@colour, 40%);
      * {
        color: lighten(@colour, 50%);
      }
      padding: 30px;
      user-select: none;
      cursor: pointer;
      transition: background-color 0.3s;
      box-shadow: 0 0 0 0 @colour;
      border: 1px solid darken(@colour, 10%);

      &:hover {
        background-color: darken(@colour, 3%);
      }
    }

    &.newpost {
      .gridlink(@newpost-colour);
    }

    &.discover {
      .gridlink(@discover-colour);
    }

    &.greeting {
      font-size: 60px;
      background-color: @greet-colour;
      color: @main-bg;
      height: 450px;
      width: @double-width;
      padding: 30px;
      user-select: none;
      cursor: default;

      * { color: @main-bg; }

      span.username {
        font-weight: bold;
      }

      span.details {
        text-align: center;
        font-size: 20px;
        position: absolute;
        bottom: 55px;
        display: inline-block;

        span.sect {
          display: inline-block;
          width: 120px;
          cursor: pointer;
          transition-duration: 0.3s;
          >*{transition-duration: 0.3s;}

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
