// out: ../../../public/css/home.css

@import "colours";

div.posts {
  width: 100%;
  min-height: 30px;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
  max-width: 1440px;
  // 450 * 3  +  15 * 6

  .grid-item {
    width: 450px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid #ededed;
    border-radius: 5px;

    &.post { // Specific to grid-items which are posts
    }

    .expand-button {
      position: absolute;
      width: 15px;
      font-size: 14px;
      left: 50%;
      text-align: center;
      margin-left: -7.5px;
      bottom: 16px;
      cursor: pointer;

      i {
        display: inline-block;
        position: relative;
        transition-duration: 0.1s;
        bottom: 0;
        color: @greyed;
      }

      &:hover >i {
        bottom: -5px;
        color: #757575;
      }
    }

    .content {
      &.expanded {
        max-height: 99999px;
      }

      transition-duration: 1s;

      cursor: pointer;
      font-size: 14px;
      //line-height: 19px;
      max-height: 500px;
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
      word-wrap: break-word;
      background-color: white;

      img {
        max-width: 100%;
        max-height: 400px;
      }

      p {
        text-align: left;
      }

      pre {
        white-space: pre-wrap;
        word-break: break-all;
        background-color: #263238;
        padding: 15px 18px;
        border-radius: 4px;
      }

      code {
        color: #aad2d2;
        font-family: 'Inconsolata', monospace;
      }
    }

    .by {
      cursor: pointer;
      display: inline-block;
      float: right;
      font-size: 15px;
      font-weight: bold;
    }

    .date {
      display: inline-block;
      float: right;
      font-size: 15px;
      margin: 0 15px;
      color: @greyed;
    }

    .status {
      color: @greyed;

      * {
        margin: 0 10px;
      }

      .likes {
        color: @greyed;
        * {color: @greyed;}
        &.liked {
          * {color: @like-colour;}
          color: @like-colour;
        }
      }
      .comments {
        * {color: @greyed;}
        color: @greyed;
      }
    }

    &.newpost {
      font-size: 40px;
      background-color: @newpost-colour;
      color: white;
      //height: 310px;
      padding: 30px;
      user-select: none;
      cursor: pointer;
      font-weight: bold;
      transition-duration: 0.2s;

      &:hover {
        background-color: darken(@newpost-colour, 3%);
      }
    }

    &.greeting {
      font-size: 50px;
      background-color: @greet-colour;
      color: white;
      height: 350px;
      padding: 30px;
      user-select: none;
      cursor: default;

      * { color: white; }

      span.username {
        font-weight: bold;
      }

      span.details {
        text-align: center;
        font-size: 20px;
        position: relative;
        bottom: -80px;
        display: inline-block;
        width: 400px;

        span.sect {
          display: inline-block;
          margin: 0 20px;
          width: 80px;
          cursor: pointer;
        }
      }
    }
  }
}
